<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.iwish.pickmall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.OfferBannerActivity"></activity>
        <activity android:name=".activity.ReturnOrderActivity" />
        <activity android:name=".activity.Product" />
        <activity android:name=".activity.SelectGenderActivity" />
        <activity
            android:name=".activity.OneRsShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settingtheme" />
        <activity android:name=".activity.OTPActivity" />
        <activity android:name=".activity.MobileNOActivity" />
        <activity android:name=".activity.NoInternetConnectionActivity" />
        <activity
            android:name=".activity.DeliveredItemActivity"
            android:label="Delivered Order"
            android:screenOrientation="portrait"
            android:theme="@style/myordertheme" />
        <activity
            android:name=".activity.SupportAnswerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settingtheme" />
        <activity
            android:name=".activity.SupportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settingtheme" />
        <activity android:name=".activity.ProductReturnActivity" />
        <activity
            android:name=".activity.ReturnPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settingtheme" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settingtheme" />
        <activity
            android:name=".activity.TermsAndConditionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settingtheme" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settingtheme" />
        <activity
            android:name=".activity.Setting"
            android:screenOrientation="portrait"
            android:theme="@style/Settingtheme" />
        <activity
            android:name=".activity.EnterInviteCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/enterinvitecode" />
        <activity android:name=".activity.SuccessfullyActivity" />
        <activity android:name=".activity.PaymentOptionActivity" />
        <activity android:name=".gateway.Paymentgateway" />
        <activity
            android:name=".activity.FilterActivity"
            android:theme="@style/filter" />

        <receiver android:name=".service.TimeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Searchactivity"
            android:theme="@style/searchtheme" />
        <activity
            android:name=".activity.FollowingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/followingtheme" />
        <activity
            android:name=".activity.AllcategoryActivity"
            android:theme="@style/allcategory" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:label="Oeder Detail"
            android:screenOrientation="portrait"
            android:theme="@style/orderdetailtheme" />
        <activity
            android:name=".activity.MyOederActitvity"
            android:label="My Order"
            android:screenOrientation="portrait"
            android:theme="@style/myordertheme" />
        <activity
            android:name=".activity.EditAddressActivity"
            android:theme="@style/flashsaleproduct" />
        <activity android:name=".activity.VendorStoreActivity" />
        <activity
            android:name=".activity.CoupenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/coupentheme" />
        <activity
            android:name=".activity.InviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/invitetheme" />
        <activity
            android:name=".activity.VendorRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vendertheme" />
        <activity
            android:name=".activity.WishListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/wishtheme" />
        <activity
            android:name=".activity.ShipingAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/shippingtheme" />
        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/walletTheme" />
        <activity
            android:name=".activity.UnpaidOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/unpaidordertheme" /> <!-- <activity android:name=".activity.VendorRequestActivity" /> -->
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/profileTheme" />
        <activity
            android:name=".activity.Account"
            android:screenOrientation="portrait"
            android:theme="@style/accountTheme" />
        <activity
            android:name=".activity.Profile"
            android:screenOrientation="portrait"
            android:theme="@style/profileTheme" />
        <activity android:name=".activity.UserDetail" />
        <activity
            android:name=".activity.SaveAddressActivity"
            android:theme="@style/flashsaleproduct" />
        <activity
            android:name=".activity.AddressActivity"
            android:theme="@style/flashsaleproduct" />
        <activity
            android:name=".activity.FriendsDealsAllActivity"
            android:theme="@style/friendsaleoners" />
        <activity
            android:name=".activity.FlashSaleProductactivity"
            android:theme="@style/flashsaleproduct" />
        <activity
            android:name=".activity.CardActivity"
            android:theme="@style/CardTheme" />
        <activity
            android:name=".activity.ProductDetailsActivity"
            android:theme="@style/flashsaleproduct" />
        <activity android:name=".activity.ProductActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Register1Activity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activity.Signup"
            android:theme="@style/MyTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_cqTSMSd3guM3Ej" />
    </application>

</manifest>